.containerCard{
    width: 80%;
    height: auto;
    margin-top: 7%;
    margin-bottom: 9%;
}

.card{
    margin-left: 9%;
    margin-right: 20px;
    margin-top: 20px;
    width: 33%;
    height: 500px;
    display: inline-block;
}

.card img{
    width: 100%;
    height: 350px;
}


.card h1{
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 150, 74);
    margin-bottom: 5px;
}

.card h2{
    font-size: 20px;
    font-weight: 100;
    color: black;
    margin-bottom: 10px;
}

.card p{
    font-size: 17px;
    font-weight: 200;
    color: rgb(114, 106, 106);
    margin-bottom: 10px;
}

.card h3{
    font-size: 17px;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
}

@media(max-width:1024px){
    .card {
        width: 38%;
        height: 338px;
    }
    .card img {
        width: 100%;
        height: 344px;
    }
    .cardNav h1 {
        font-size: 37px;
    }
    .cardNav li {
        list-style: none;
        padding-left: 10px;
        padding-bottom: 12px;
        font-size: 20px;
    }
}

@media(max-width:768px){
    .cardNav {
        width: 20%;
        height: auto;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 7%;
        display: none;
    }
}

@media(max-width:600px){
    .card {
        width: 50%;
        height: 338px;
        margin-left: 9px;
        margin-right: -9px;
    }
    .card img {
        width: 100%;
        height: 318px;
    }
}

@media(max-width:540px){
    .containerName h1 {
        font-size: 35px;
        font-weight: 100;
        color: tomato;
        margin-left: 75px;
        margin-bottom: 0px;
    }
    .card {
        width: 48%;
        height: 338px;
        margin-left: 7px;
        margin-right: 3px;
        margin-top: 30px;
    }
    .card img {
        width: 100%;
        height: 292px;
    }
}

@media(max-width:414px){
    .card {
        width: 47%;
        height: 338px;
        margin-left: 12px;
        margin-right: 0px;
        margin-top: 30px;
    }
}

@media(max-width:414px){
    .card img {
        width: 100%;
        height: 226px;
    }
}

@media(max-width:375px){
    .card {
        width: 47%;
        height: 338px;
        margin-left: 11px;
        margin-right: 0px;
        margin-top: 30px;
    }
    .card img {
        width: 100%;
        height: 210px;
    }
}

@media(max-width:360px){
    .card {
        width: 50%;
        height: 338px;
        margin-left: 4px;
        margin-right: -4px;
        margin-top: 30px;
    }
}

@media(max-width:320px){
    .card {
        width: 50%;
        height: 338px;
        margin-left: 4px;
        margin-right: -4px;
        margin-top: 30px;
    }
    .card img {
        width: 100%;
        height: 170px;
    }
    .card h2 {
        font-size: 17px;
        font-weight: 100;
        color: black;
        margin-bottom: 10px;
    }
    .card p {
        font-size: 13px;
        font-weight: 200;
        color: rgb(114, 106, 106);
        margin-bottom: 10px;
    }
    .card h3 {
        font-size: 15px;
        font-weight: 300;
        color: black;
        margin-bottom: 10px;
    }
}

