.cardNav{
    width: 20%;
    height: auto;
    margin-right:50px;
    margin-left:50px;
    margin-top: 7%;
}

.cardNav h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 100;
    color: rgb(70, 144, 255);
}

.cardNav li{
   list-style: none;
   padding-left: 10px;
   padding-bottom: 5px;
}

.cardNav li:hover{
    cursor: pointer;
    text-decoration: underline;
 }

