.mainContainer{
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.accommodateDiv{
    width: 100%;
    height: auto;
    display: inline-block;
}

.containerCard {
    width: 90%;
    height: auto;
    margin-top: 7%;
    margin-bottom: 9%;
    margin-left: 8%;
}

.containerName{
    width: 100%;
    height: auto;
}

.containerName h1{
    font-size: 35px;
    font-weight: 100;
    color: tomato;
}


.containerName h1:hover{
    text-decoration: underline;
    cursor: pointer;
}


@media(max-width:768px){
    .containerName h1 {
        font-size: 35px;
        font-weight: 100;
        color: tomato;
        margin-left: 75px;
        margin-bottom: 25px;
    }
    .containerCard {
        width: 100%;
        height: auto;
        margin-top: 7%;
        margin-bottom: 9%;
        margin-left: 0%;
    }
}

@media(max-width:540px){
    .containerCard {
        width: 97%;
        height: auto;
        margin-top: 7%;
        margin-bottom: 9%;
        margin-left: 3%;
        display: inline-block;
    }
    .mainContainer {
        width: 96%;
        height: auto;
        display: flex;
        margin: 0 auto;
    }
    .containerCard {
        width: 97%;
        height: auto;
        margin-top: 7%;
        margin-bottom: 9%;
        margin-left: 3%;
    }
}

@media(max-width:414px){
    .mainContainer {
        width: 100%;
        height: auto;
        display: flex;
        margin: 0 auto;
    }
    .containerCard {
        width: 100%;
        height: auto;
        margin-top: 7%;
        margin-bottom: 9%;
        margin-left: 0%;
    }
    .containerName h1 {
        font-size: 31px;
        font-weight: 100;
        color: tomato;
        margin-left: 17px;
        margin-bottom: 0px;
    }
}

@media(max-width:320px){
    .card {
        width: 46%;
        height: 338px;
        margin-left: 12px;
        margin-right: 0px;
        margin-top: 30px;
    }
}

@media(max-width:280px){
    .containerName h1 {
        font-size: 26px;
        font-weight: 100;
        color: tomato;
        margin-left: 17px;
        margin-bottom: 0px;
    }

        .card {
            width: 50%;
            height: 338px;
            margin-left: 10px;
            margin-right: -10px;
            margin-top: 30px;
        }
    
}
