.footer{
    width: 100%;
    height: 657px;
    background-color: white;
    display: flex;
}

.footer-container_left{
    width: 33%;
    height: auto;
    border-right: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-container_center{
    width: 33%;
    height: auto;
    border-right: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-container_rigth{
    width: 33%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer-title-container_left{
    width: 90%;
    height: auto;
    margin-left: 15px;
}
.footer-title-container_left h1{
    text-align: left;
    padding-left: 20px;
    font-size: 70px;
    font-weight: 100;
    color: black;
    border-bottom: 1px solid black;
}

.listOfContacts{
    width: 100%;
    height: auto;
    display: inline-block;
}


.listOfContacts ul{
    padding-top: 30px;
}

.listOfContacts ul li{
    color: black;
    list-style: none;
    font-size:30px;
    padding-left: 15px;
    padding-bottom: 25px;
}

.icon{
    width: 100%;
    height: auto;
    display: flex;
}

.icon img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.logo-footer{
    width: 70%;
    height: auto;
    margin-left: 70px;
    margin-right: 40px;
    background-color: black;
}

.logo-footer img{
    width: 100%;
    height: 300px;
}

.title-footer_center{
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 50px;
}

.title-footer_center h1{
    font-size: 40px;
    font-weight: 100; 
    margin-left: 150px;
}

.title-footer_center h1:hover{
    text-decoration: 1px solid red underline;
    cursor: pointer;
}

.title-footer_center span{
    font-size: 40px;
    font-weight: 100;
    color: red; 
}

.title-footer_center span:hover{
    font-size: 40px;
    font-weight: 100; 
    text-decoration: 1px solid black underline;
    cursor: pointer;
}

.information-creator{
    width: 90%;
    height: auto;
    margin-left: 20px;
}

.information-creator h1{
    text-align: right;
    font-size: 60px;
    font-weight: 100;
    color: black;
    border-bottom: 1px solid black;
}

@media(max-width:1024px){
    .footer {
        width: 100%;
        height: 657px;
        background-color: white;
        display: inline-block;
    }
    .footer-container_left {
        width: 93%;
        border-bottom: 1px solid black;
        border-right: none;
        margin-left: 17px;
    }
    .footer-container_center {
        border-right: none;
        width: 100%;
    }
    .footer-container_rigth {
        width: 100%;
    }
    .logo-footer {
        width: 300px;
        height: auto;
        margin-left: 35%;
        background-color: black;
    }
    .logo-footer img {
        width: 100%;
        height: 300px;
    }
    .title-footer_center {
        width: 50%;
        height: 70px;
        display: flex;
        margin-top: 50px;
        text-align: center;
        margin-left: 27%;
    }
    .title-footer_center span {
        font-size: 50px;
        font-weight: 100;
        color: red;
    }
    .title-footer_center h1 {
        font-size: 50px;
        font-weight: 100;
        margin-left: 150px;
    }
}

@media(max-width:768px){
    .logo-footer {
        margin-left: 32%; 
    }
    .title-footer_center {
        margin-left: 21%;
    }
}

@media(max-width:540px){
    .logo-footer {
        margin-left: 25%;
    }
    .title-footer_center h1 {
        font-size: 50px;
        font-weight: 100;
        margin-left: 87px;
    }
}

@media(max-width:414px){
    .listOfContacts ul li {
        color: black;
        list-style: none;
        font-size: 21px;
        padding-left: 13px;
        padding-bottom: 25px;
    }
    .footer-title-container_left h1 {
        text-align: left;
        padding-left: 1px;
        font-size: 61px;
        font-weight: 100;
        color: black;
        border-bottom: 1px solid black;
    }
    .icon img {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
    .title-footer_center {
        margin-left: 8%;
        margin-top: 31px;
    }
    .logo-footer {
        margin-left: 16%;
    }
    .information-creator h1 {
        text-align: left;
        font-size: 58px;
        font-weight: 100;
        color: black;
        border-bottom: 1px solid black;
    }
    .footer-container_left {
        border-bottom: none;
    }
    .footer-container_left {
        
        margin-left: 20px;
    }
}

@media(max-width:375px){
    .logo-footer {
        margin-left: 11%;
    }
    .title-footer_center h1 {
        font-size: 42px;
        font-weight: 100;
        margin-left: 87px;
    }
    .title-footer_center span {
        font-size: 42px;
        font-weight: 100;
        color: red;
    }
    .title-footer_center {
        margin-left: 7%;
        margin-top: 31px;
    }
}


@media (max-width:320px){
    .logo-footer {
        margin-left: 5.4%;
    }
    .footer-container_left {
        width: 93%;
        margin-left: 7px;
    }
    .listOfContacts ul li {
        color: black;
        list-style: none;
        font-size: 20px;
        padding-left: 13px;
        padding-bottom: 25px;
    }
    .title-footer_center {
        margin-left: 2%;
        margin-top: 31px;
    }
}

@media (max-width:280px){
    .footer-title-container_left h1 {
        text-align: left;
        padding-left: 1px;
        font-size: 57px;
        font-weight: 100;
        color: black;
        border-bottom: 1px solid black;
    }
    .listOfContacts ul li {
        color: black;
        list-style: none;
        font-size: 19px;
        padding-left: 13px;
        padding-bottom: 25px;
    }
    .icon img {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }
    .logo-footer {
        margin-left: 17.4%;
        width: 200px;
        height: 200px;
    }
    .logo-footer img {
        width: 100%;
        height: 200px;
    }
    .title-footer_center h1 {
        font-size: 33px;
        font-weight: 100;
        margin-left: 87px;
    }
    .title-footer_center span {
        font-size: 33px;
        font-weight: 100;
        color: red;
    }
    .title-footer_center {
        margin-left: 0%;
        margin-top: 31px;
    }
    .information-creator h1 {
        text-align: left;
        font-size: 53px;
        font-weight: 100;
        color: black;
        border-bottom: 1px solid black;
    }
}