.header{
    width: 100%;
    height: 656px;
    background-image: url("../static/pexels-jot-2179483.jpg");
    background-size: cover;
    padding: 30px;
 
}

.logo-menu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 200px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.menu{
    width: 60%;
    height: 30px;
}

.menu ul {
    display: flex;
    float: right;
}

.menu ul li {
    display: flex;
    padding-left: 30px;
    font-size: 20px;
}

.menu ul li a {
    display: flex;
    padding-left: 30px;
    font-size: 20px;
    color: white;
}

.menu ul li a:hover {
   text-decoration: underline;
}

.title-search{
    display: inline-block;
}

.form{
    width: 100%;
    height: auto;
    margin-top: 92px;
}

.form h1{
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 200;
}

.container-form{
    margin-top: 20px;
    width: 100%;
    height: auto; 
}

.container-form input{
    margin-left: 110px;
    width: 70%;
    height: 50px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid white;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    color: white;
}

.container-form input::placeholder{
    color: white;
}

.container-form button{
    color: white;
    width: 10%;
    height: 50px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid white;
    outline: none;
    font-size: 20px;
}

@media (max-width:1024px) {
    .menu ul li a {
        font-size: 29px;
    }
    .form {
        margin-top: 58px;
    }
    .form h1 {
        font-size: 80px;
        font-weight: 100;
    }
    .container-form input {
        height: 61px;
        font-size: 28px;
    }
    .container-form button {    
        height: 53px;
    }
}