.header{
    width: 100%;
    height: 656px;
    background-image: url("../static/pexels-jot-2179483.jpg");
    background-size: cover;
    padding: 30px;
 
}

.logo-menu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 200px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.menu{
    width: 60%;
    height: 30px;
}

.menu ul {
    display: flex;
    float: right;
}

.menu ul li {
    display: flex;
    padding-left: 30px;
    font-size: 20px;
}

.menu ul li a {
    display: flex;
    padding-left: 30px;
    font-size: 20px;
    color: white;
}

.menu ul li a:hover {
   text-decoration: underline;
}

.title-search{
    display: inline-block;
}

.form{
    width: 100%;
    height: auto;
    margin-top: 92px;
}

.form h1{
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 200;
}

.container-form{
    margin-top: 20px;
    width: 100%;
    height: auto; 
}

.container-form input{
    margin-left: 110px;
    width: 70%;
    height: 50px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid white;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    color: white;
}

.container-form input::placeholder{
    color: white;
}

.container-form button{
    color: white;
    width: 10%;
    height: 50px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid white;
    outline: none;
    font-size: 20px;
}

@media (max-width:1024px) {
    .menu ul li a {
        font-size: 29px;
    }
    .form {
        margin-top: 58px;
    }
    .form h1 {
        font-size: 80px;
        font-weight: 100;
    }
    .container-form input {
        height: 61px;
        font-size: 28px;
    }
    .container-form button {    
        height: 53px;
    }
}

@media (max-width:768px) {
    .container-form input {
        height: 61px;
        font-size: 28px;
        margin-left: 70px;
    }
}

@media (max-width:540px) {
    .header {
        width: 100%;
        height: 720px;
    }
    .logo img {
        display: none;
    }
    .form {
        margin-top: 0px;
    }
    .form h1 {
        font-size: 69px;
        font-weight: 100;
    }
    .container-form input {
        height: 61px;
        font-size: 28px;
        margin-left: 48px;
    }
    .container-form button {
        height: 53px;
        width: 17%;
    }
   
}

@media (max-width: 414px){
    .header {
        width: 101%;
        height: 720px;
    }
    .form h1 {
        font-size: 58px;
        font-weight: 100;
    }
    .container-form input {
        height: 57px;
        font-size: 28px;
        margin-left: 18px;
    }
    .container-form button {
        height: 53px;
        width: 20%;
        margin-left: 6px;
    }
    .header {
        width: 101%;
        height: 745px;
    }
    .menu ul li a {
        font-size: 20px;
    }
    .form {
        margin-top: 21px;
    }
    .logo img {
        display: none;
    }
}

@media (max-width:375px){
    .header {
        width: 102%;
        height: 681px;
    }
    .menu ul li a {
        font-size: 20px;
        padding-left: 2px;
    }
    .logo img {
        display: none;
    }
    .form h1 {
        font-size: 53px;
        font-weight: 100;
    }
    .container-form input {
        height: 43px;
        font-size: 20px;
        margin-left: -2px;
        width: 77%;
    }
    .container-form button {
        height: 44px;
        width: 21%;
        margin-left: 6px;
        font-size: 17px;
    }
}

@media (max-width:320px){
    .header {
        width: 104%;
        height: 591px;
    }
}

@media(max-width:280px){
    .header {
        width: 108%;
        height: 702px;
    }
    .menu ul li a {
        font-size: 21px;
        padding-left: 0px;
    }
    .form {
        margin-top: 74px;
    }
    .form h1 {
        font-size: 55px;
        font-weight: 100;
        margin-top: -38px;
    }
    .container-form input {
        height: 43px;
        font-size: 20px;
        margin-left: -16px;
        width: 83%;
    }
    .container-form button {
        height: 44px;
        width: 21%;
        margin-left: 6px;
        font-size: 17px;
    }
}