.intermedio{
    width: 100%;
    height: 700px;
    background-color: rgb(236, 201, 105);
    padding-left: 30px;
    padding-top: 50px;
}

.intermedio-container{
    width: 100%;
    height: 600px;
    display: flex;
}

.intermedio-container_left{
    padding-right: 40px;
    width: 35%;
    height: 600px;
    border-right: 1px solid white;
}

.intermedio-container_right{
    width: 65%;
    height: 600px;  
}

.title-container_left{
    width: 100%;
    height: auto;
}

.title-container_left h1{
    text-align: center;
    font-size: 65px;
    font-weight: 200;
    color: white;
}

.direction-button{
    width: 100%;
    height: auto;
    margin-top: 40px;
}


.direction-button p{
    color: white;
    font-size: 25px;
    margin-right: 8px;
}

.direction-button button{
    margin-top: 30px;
    width: 45%;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    color:white;
    font-size: 20px;
    cursor: pointer;
}

.intermedio-container_right{
    width: 100%;
    height: auto;
    
}

.mapa{
    width: 100%;
    height: 600px;
}


.mapa iframe{
    width: 70%;
    height: 500px;
    border-radius: 30px;
    border: 1px solid white;
    margin-top: 45px;
    margin-left: 150px;
}

@media (max-width:1024px){
    .intermedio-container {
        display: inline-block;
    }
    .intermedio-container_left {
        padding-right: 63px;
        width: 96%;
        height: auto;
        border-bottom: 1px solid white;
        padding-bottom: 32px;
        border-right: none;
    }
    .intermedio-container_right {
        width: 100%;
        height: 354px;
    }
    .mapa {
        width: 100%;
        height: 350px;
    }
    .mapa iframe {
        width: 60%;
        height: 269px;
        border-radius: 30px;
        border: 1px solid white;
        margin-top: 45px;
        margin-left: 150px;
    }
}

@media(max-width:768px){
    .mapa iframe {
        width: 60%;
        height: 269px;
        border-radius: 30px;
        border: 1px solid white;
        margin-top: 32px;
        margin-left: 128px;
    }
}

@media(max-width:600px){
    .intermedio {
        height: 800px;
    }
    .mapa iframe {
        width: 72%;
        height: 269px;
        border-radius: 30px;
        border: 1px solid white;
        margin-top: 32px;
        margin-left: 60px;
    }
}

@media(max-width:540px){
    .intermedio {
        width: 100%;
        height: 800px;
    }
    .mapa iframe {
        width: 70%;
        height: 269px;
        border-radius: 30px;
        border: 1px solid white;
        margin-top: 20px;
        margin-left: 68px;
    }
}

@media (max-width: 414px){
    .intermedio {
        width: 101%;
        height: 800px;
    }
    .mapa iframe {
        width: 86%;
        height: 244px;
        border-radius: 30px;
        border: 1px solid white;
        margin-top: 18px;
        margin-left: 20px;
    }
}

@media(max-width:375px){
    .intermedio {
        width: 102%;
        height: 690px;
        padding-top: 10px;
    }
    .title-container_left h1 {
        text-align: center;
        font-size: 51px;
        font-weight: 200;
        color: white;
    }
    .intermedio-container_left {
        padding-right: 63px;
        width: 96%;
        height: auto;
        border-bottom: 1px solid white;
        padding-bottom: 24px;
        border-right: none;
    }
    .direction-button p {
        color: white;
        font-size: 22px;
        margin-right: 8px;
    }
    .direction-button button {
        margin-top: 30px;
        width: 54%;
        height: 50px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    .mapa iframe {
        width: 89%;
        height: 219px;
        border-radius: 30px;
        border: 1px solid white;
        margin-top: 18px;
        margin-left: 10px;
    }
}


@media (max-width:320px){
    .intermedio {
        width: 104%;
        height: 690px;
        padding-top: 10px;
    }
    .direction-button p {
        color: white;
        font-size: 20px;
        margin-right: 8px;
    }
    .direction-button button {
        width: 54%;
        height: 47px;
    }
}

@media (max-width:280px){
    .intermedio {
        width: 108%;
        height: 704px;
        padding-top: 10px;
    }
    .title-container_left h1 {
        text-align: center;
        font-size: 46px;
        font-weight: 200;
        color: white;
    }
    .direction-button button {
        width: 71%;
        height: 47px;
    }
    .mapa iframe {
        width: 89%;
        height: 219px;
        border-radius: 30px;
        border: 1px solid white;
        margin-top: 18px;
        margin-left: -2px;
    }
}

