
.containerNotFound{
    width: 100%;
    height: 700px;
    display: flex;
}

.containerNotFound-left{
    width: 35%;
    height: auto;
    border-right: 1px solid black;
    padding-top:10px
}

.containerNotFound-left-img{
    width: 400px;
    height: 400px;
    margin-top: 130px;
    margin-left:40px;
}

.containerNotFound-left-img img{
   width: 100%;
   height: auto;
}

.containerNotFound-rigth{
    width: 65%;
    height: auto;
}

.containerNotFound-rigth-text{
    width: 100%;
    height: auto;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.containerNotFound-rigth-text h1{
    font-size: 35px;
    font-weight: 500;
    text-align: left;
}

.containerNotFound-rigth-text p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}

.containerNotFound-rigth-text button{
    width: 120px;
    height: 45px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}